# Ignore build output
**/bin/
**/obj/

# Visual Studio files
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# JetBrains Rider
.idea/
*.sln.iml

# OS files
Thumbs.db
.DS_Store

# Archives and packages
*.zip
*.tar.gz
*.nupkg

# Ignore alternate versions and extracted archives
InternetBoosterPro_Modified_MTProto*/

# Logs
*.log

# Temporary files
*.tmp
*~
